<!-- <script src='../../../assets/js/SimpleImage.js'></script> -->

<hr>
<div *ngIf="!isPhotoLoading">
<div class="row">
  <div class="col-md-8">
    <h2>{{ photo.title }}</h2>
    <p>Description: {{ photo.content }}</p>
    <img
      [src]="photo.imagePath"
      alt="{{ photo.title }}"
      class="img-responsive"
      style="max-height: 1000px;">
  </div>
<!-- </div>
<div class="row"> -->
  <div class="col-md-4">
  <!-- </div>
  <div class="col-xs-4"> -->
    <!-- <div
      class="btn-group"
      appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Photo <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditPhoto()">Edit Photo</a></li>
        <li><a style="cursor: pointer;" (click)="onDeletePhoto()">Delete Photo</a></li>
        <li><a style="cursor: pointer;" (click)="onLoadPhoto()">Load Photo</a></li>
     </ul>
    </div>
    <hr> -->
  <button mat-raised-button color="accent" (click)="onRainbowIt()">Rainbow it!</button>

  <hr>
  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Photo</button>
  <mat-menu #menu="matMenu">
    <button mat-button (click)="onEditPhoto()">Edit Photo</button>
    <button mat-button (click)="onDeletePhoto()">Delete Photo</button>
  </mat-menu>
  <hr>
</div>
</div>
<div class="row" *ngIf="photoConverterActive">

  <div class="row">

    <div class="col-xs-6">
      <a>Rainbow Image</a>
      <img
        [src]="convertedImage"
        alt="{{ photo.title }}"
        class="img-responsive"
        style="max-width: 250px;">
    </div>
  </div>
  <hr>
  
</div>

<!-- <canvas id="ConvImageCanv" width="50px"></canvas> -->