<!-- <script src='../../../assets/js/SimpleImage.js'></script> -->

<div *ngIf="!isPhotoLoading">

  <div class="row">
  <!-- <div class="col-md-8">
    <h2>{{ photo.title }}</h2>
    <p>Description: {{ photo.content }}</p>
    <img
      [src]="photo.imagePath"
      alt="{{ photo.title }}"
      class="img-responsive"
      style="max-height: 1000px;">
  </div> -->

  <hr>

  <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Manage Photo</button>
  <mat-menu #menu="matMenu">
    <button mat-button (click)="onEditPhoto()">Edit Photo</button>
    <button mat-button (click)="onDeletePhoto()">Delete Photo</button>
  </mat-menu>
  <button mat-raised-button color="accent" (click)="onRainbowIt()">Rainbow it!</button>
  <button mat-raised-button color="warn" (click)="onCurveIt()">cuRve it!</button>

</div>

<hr>
<div class="row">

  <div class="col-xs-4" *ngIf="base64ImageLoaded">
  
      <a>Loaded Image</a>
      <img
        [src]="base64Image"
        alt="Loaded image"
        class="img-responsive"
        style="max-width: auto;">
    </div>

    <div class="col-xs-4"  *ngIf="rainbowReady === true">
      <a>Rainbow Image</a>
      <img
        [src]="rainbowImage"
        alt="Rainbow of {{ photo.title }}"
        class="img-responsive"
        style="max-width: auto;">
    </div>

    <div class="col-xs-4"  *ngIf="curvedRainbowReady === true">
      <a>Curved Rainbow Image</a>
      <img
        [src]="curvedRainbowImage"
        alt="Curved rainbow of {{ photo.title }}"
        class="img-responsive"
        style="max-width: auto;">
    </div>
  </div>

</div>
<hr>
  
<!-- <canvas id="ConvImageCanv" width="50px"></canvas> -->